a,a:active,a:focus,a:hover {
  color: #090;
  text-decoration: none;
}
.soc_at {
  float: right;
}
.soc_body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 47px 0;
}
.soc_button {
  background-color: #0b5;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  height: 3.5ex;
  margin: 0 1ex;
}
.soc_content,.soc_context {
  font-size: 14pt;
  line-height: 1.5;
  margin: 1ex;
}
.soc_context>a{
  white-space: nowrap;
}

.soc_footer, .soc_header {
  font-size: 16pt;
  background-color: #e1e1e1;
  height: 47px;
  padding: 0 0.6ex;
}
.soc_footer > button, .soc_header > button {
  background-color: #0b5;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
  height: 3.5ex;
  margin-top: 1.1ex;
  padding-bottom: 0.4ex;
  width: 4em;
}
.soc_footer {
  border-top: 1px solid #aaa;
  bottom: 0;
  position: fixed;
  width: 100%;
}
.soc_header {
  border-bottom: 1px solid #aaa;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.soc_link
{
  word-wrap: break-word;
}
.soc_next {
  display: none;
}
.soc_status {
  display: inline-block;
  float: right;
  font-size: 14pt;
  margin: 1ex 2ex;
}
.soc_tweet_link
{
  background: none;
  border: none;
  color: #090;
  cursor: pointer;
  font-size: 14pt;
  padding: 0;
}
